body{
	background-color: #808000;
	background-color: white;
}

#contenedorP{
	width:1500px;
    margin:auto;
}

#cabeceraP{
	width: 1500px;
	height: 150px;
	background-image: url("../imagenes/cabeceraP.png");
}

#menuP{
	width: 900px;
	height: 50px;
	background-color: #808080;
}

#cuerpoP{
	width: 1500px;
	height: 1100px;
	background-color: #ffffff;
}

#pieP{
	width: 1500px;
	height: 50px;
	background-color: #676767;
}

#menuacordion{
	width: 200px;
	height: 700px;
	background-image: url("../imagenes/fondo.jpg");
	float: left;
}
#cuerpoacordion{
	width: 1300px;
	height: 1100px;
	background-color:#ffffff;
	float: left;
}
