<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProyectoTransportes</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>logueo</servlet-name>
    <servlet-class>servlets.Logueo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logueo</servlet-name>
    <url-pattern>/logueando</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cerrarsesion</servlet-name>
    <servlet-class>servlets.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cerrarsesion</servlet-name>
    <url-pattern>/cerrandoSesion</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Filtro</filter-name>
    <filter-class>filters.UsuarioLogueado</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filtro</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>listarBus</servlet-name>
    <servlet-class>servlets.ListadoBuses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listarBus</servlet-name>
    <url-pattern>/listandoBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registrarBus</servlet-name>
    <servlet-class>servlets.RegistrarBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrarBus</servlet-name>
    <url-pattern>/registrandoBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>actualizarBus</servlet-name>
    <servlet-class>servlets.ActualizarBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actualizarBus</servlet-name>
    <url-pattern>/actualizandoBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eliminarBus</servlet-name>
    <servlet-class>servlets.EliminarBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminarBus</servlet-name>
    <url-pattern>/eliminandoBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registrarEmpleado</servlet-name>
    <servlet-class>servlets.RegistrarEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrarEmpleado</servlet-name>
    <url-pattern>/registrandoEmpleado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>actualizarEmpleado</servlet-name>
    <servlet-class>servlets.ActualizarEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actualizarEmpleado</servlet-name>
    <url-pattern>/actualizandoEmpleado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eliminarEmpleado</servlet-name>
    <servlet-class>servlets.EliminarEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminarEmpleado</servlet-name>
    <url-pattern>/eliminandoEmpleado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registrarCliente</servlet-name>
    <servlet-class>servlets.RegistrarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrarCliente</servlet-name>
    <url-pattern>/registrandoCliente</url-pattern>
  </servlet-mapping>
  <listener>
    <description>SessionListener</description>
    <listener-class>servlets.Escucha</listener-class>
  </listener>
</web-app>